@dechea:registry=https://node.bit.dev
@teambit:registry=https://node.bit.dev
//node.bit.dev/:_authToken=6e893c3e-9a2d-47dc-987f-bddfe495a9b7
always-auth=true
save-exact=true
package-lock=true
legacy-peer-deps=true
