.teeth-diagram-container {
  margin: 0px 40px 0px;
}

@media (min-width: 1280px) {
  .teeth-diagram-container {
    margin: 0px 80px 0px;
  }
}

@media (min-width: 1920px) {
  .teeth-diagram-container {
    margin: 0px 140px 0px;
    max-width: 1920px;
  }
}