html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.menuItemLink {
  border: 1px solid transparent !important;
}

.menuItemLink:hover {
  color: #2066e4;
  background-color: #eaf1fd !important;
  border: 1px solid #2066e4 !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.cl-card {
  width: 100%;
}

.cl-createOrganization-root {
  width: 100%;
}
